@media only screen and (max-width: 992px) {

    main{

        margin-bottom: 750px;
    }

    .container{

        flex-direction: column;
        position: absolute;
        background-image: url(/img/bg-hero-mobile.svg);
        object-fit: cover;
        background-repeat: no-repeat;
        

        .about{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 100px;
            width: 100% !important;
        }


        .about-img{

            margin: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100% !important;

            img {

                width: 70% !important;
            }
    
        }
    }

    .section-card{

        padding: 0 20px !important;


    .reverse{
        
        flex-direction: column-reverse !important;
    }

    .card {

        display: flex;
        flex-direction: column-reverse;

        .card-text{

            width: 100% !important;
            text-align: center;
            padding: 20px;
        }

        .card-img{

            width: 100% !important;

        }
    }

    }

    .ready-card{

        .card{

            text-align: center;
            width: 80% !important;
        }
    }

    footer{

        height: 800px !important;

        .items-footer{

            flex-direction: column;
            align-items: flex-start !important;
            padding: 0 !important;
        }

        .item-2{
            gap: 30px;
            padding-left: 20px;

        }

        .item-3{
            gap: 30px;
            padding-left: 20px;
        }

        .item-4{

            width: 100%;
            gap: 50px;

        }
    }
}



@media only screen and (max-width: 450px) {
    .header{

        padding: 50px 10px;
    }

    .btn-try {
      padding: 5px 15px;
    }
  }