@import 'variables';
@import 'responsive';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-size: 18px;
}

a {
    text-decoration: none;
}


// *********************** NAVBAR E INTRODUÇÃO **************//
main {

    height: 900px;
    width: 100%;
    background-color: $Very-Pale-Cyan;
    background-image: url(/img/bg-hero-desktop.svg);
    background-repeat: no-repeat;


    header {

        width: 100%;
        background-color: transparent;
        height: 50px;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {

            max-width: 8.5rem;
            height: 25px;
            cursor: pointer;
        }

        button {

            padding: 7px 50px;
            border: none;
            border-radius: 20px;
            background-color: $white;
            color: $Very-Dark-Cyan;
            font-family: $poppins;
            font-weight: 600;
            box-shadow: 2px 1px 15px 1px rgba(0, 0, 0, 0.150);
            cursor: pointer;
            transition: 0.5s;

            &:hover{

                box-shadow: 2px 1px 15px 1px rgba(0, 0, 0, 0.504);
                transition: 0.5s;

            }
        }

    }

    .section {

        display: flex;
        height: auto;
        justify-content: center;

        .container {

            background-color: $Very-Pale-Cyan;
            padding: 0 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .about {

                font-family: $open-sans;
                padding: 0 20px;
                width: 65%;


                h1 {

                    margin-bottom: 30px;
                    font-size: 2.20rem;
                    font-weight: 700;
                }

                p {

                    font-size: 1.0rem;
                    font-weight: 400;

                }

                button {

                    background-color: $Pink;
                    color: $white;
                    font-weight: 700;
                    border-radius: 20px;
                    border: none;
                    padding: 15px 60px;
                    margin-top: 30px;
                    white-space: nowrap;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {

                        transition: 0.5s;
                        background-color: hsl(322, 89%, 74%);
                    }

                }

            }

            .about-img {


                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                img {

                    max-width: min-content;
                    width: 100%;

                }

            }
        }
    }

}

// *********************** CARDS ***************************//

.section-card {


    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

    //*ROW REVERSE MIDDLE CARD*//
    .reverse {

        display: flex;
        flex-direction: row-reverse;
    }

    .card {

        display: flex;
        border-radius: 20px;
        margin: 50px 0;
        width: 100%;
        height: auto;
        background-color: $white;
        box-shadow: 2px 1px 15px -3px #4e4d4d6e;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        .card-text {

            width: 40%;

            h3 {

                color: $Very-Dark-Cyan;
                font-family: $open-sans;
                font-weight: 700;
                font-size: 2.0rem;
                margin-bottom: 20px;

            }

            p {

                color: $Grayish-Blue;
                font-family: $open-sans;
                font-size: 0.95rem;

            }
        }

        .card-img {

            width: 40%;

            img {
                padding: 30px;
                width: 100%;
                height: 300px;
            }

        }

    }


}

// ***************** READY TO BUILD CARD *****************//

.ready-card {

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;


    .card {

        z-index: 1;
        transform: translateY(40px);
        width: 50%;
        height: 200px;
        background-color: $white;
        box-shadow: 2px 1px 15px -3px #4e4d4d6e;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        h4 {

            color: $Very-Dark-Cyan;
            font-family: $open-sans;
            font-weight: 700;
            font-size: 1.5rem;

        }

        button {

            background-color: $Pink;
            padding: 15px 50px;
            border: none;
            border-radius: 25px;
            color: $Very-Dark-Cyan;
            font-family: $poppins;
            font-weight: 600;
            box-shadow: 2px 1px 15px 1px rgba(0, 0, 0, 0.150);
            cursor: pointer;
            color: $white;

            &:hover {

                transition: 0.5s;
                background-color: hsl(322, 89%, 74%);
            }


        }
    }


}

footer {

    margin-top: 200px;
    width: 100%;
    height: 350px;
    background-color: $Very-Dark-Cyan;
    display: flex;
    justify-content: center;
    align-items: center;

    .items-footer {

        margin-top: 50px;
        width: 100%;
        height: 250px;
        display: flex;
        padding: 50px;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        color: $white;
        font-family: $open-sans;
        font-weight: 400;
        font-size: 0.80rem;

        a {

            color: $white;
            transition: 0.2s;

            &:hover{
                
               color: $Pink;
               transition: 0.2s
            }
        }

        .items-1 {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            .location{

                display: flex;
                align-items: center;
            }

            img {

                align-items: center;
                margin: -10px 20px;

            }
        }

        .items-2 {

            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            .icons{
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 25px;
            }
            

            a{

                border: 1px solid white;
                padding: 10px 15px;
                border-radius: 50%;
                font-size: 1.10rem;
                text-align: center;

                &:hover{
                    border-color: $Pink;
                }
            }
        }
    }
}